jaxws_handler_tutorial/DummyThroughputInterceptor/src/main/resources/Collator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Collator"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tri="http://www.example.org/schema/Collator"
   xmlns:tns="http://www.example.org/contract/Collator"
   targetNamespace="http://www.example.org/contract/Collator">
   <wsdl:types>
      
      
      <xsd:schema targetNamespace="http://www.example.org/schema/Collator">
      <!--   <xsd:complexType name="Statistics">
          	<xsd:sequence>
				<xsd:element name="serviceName" type="xsd:string"/>
				<xsd:element name="operationName" type="xsd:string"/>
				<xsd:element name="responseTimesInMs">
					<xsd:
				</xsd:element>
				private Map<Integer, AtomicInteger> requestsIn = new HashMap<Integer, AtomicInteger>();
	private Map<Integer, AtomicInteger> responsesOut = new HashMap<Integer, AtomicInteger>();
	private Map<Integer, AtomicInteger> faultout = new HashMap<Integer, AtomicInteger>();
	private QName serviceName;
	private QName operationName;
	private Map<Integer, List<Long>> responseTimesInMs;         	
         	</xsd:sequence>
         </xsd:complexType> -->
         
         <xsd:element name="PrintLogsRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="someBoolean" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PrintLogsResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="logs" type="xsd:string" minOccurs="1"  maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ResetRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="someBoolean" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ResetResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="someBoolean" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="PrintLogsRequest">
      <wsdl:part element="tri:PrintLogsRequest" name="parameters" />
   </wsdl:message>
   <wsdl:message name="PrintLogsResponse">
      <wsdl:part element="tri:PrintLogsResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="ResetRequest">
      <wsdl:part element="tri:ResetRequest" name="parameters" />
   </wsdl:message>
   <wsdl:message name="ResetResponse">
      <wsdl:part element="tri:ResetResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="CollatorPortType">
      <wsdl:operation name="printLogs">
         <wsdl:input message="tns:PrintLogsRequest" />
         <wsdl:output message="tns:PrintLogsResponse" />
      </wsdl:operation>
      <wsdl:operation name="reset">
         <wsdl:input message="tns:ResetRequest" />
         <wsdl:output message="tns:ResetResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CollatorBinding" type="tns:CollatorPortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="printLogs">
         <soap:operation soapAction="printLogs"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="reset">
         <soap:operation soapAction="reset"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CollatorService">
      <wsdl:port name="CollatorPort" binding="tns:CollatorBinding">
         <soap:address
            location="http://localhost:8080/Collator/services/Collator"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions> 

